{% extends "base.html" %}
{% block content %}
        <form action="" method="POST" name="form">
            <div class="col-md-4 col-md-offset-4" id="user-credentail-form">
                <h1>{{user._id}} you can edit your profile!</h1>
                <br>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    {{ form.username(class="form-control", placeholder="Username", value=user._id) }}
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="username">Email</label>
                    {% if user.email != "" %}
                        {{ form.email(class="form-control", placeholder="email@email.com", value=user.email) }}
                    {% else %}
                        {{ form.email(class="form-control", placeholder="email@email.com") }}
                    {% endif %}
                </div>

                <button class="btn btn-success btn-md" type="submit">Submit</button>
                <br>
                <br>
                <a id="change-password" href="{{ url_for('change_password') }}">Change Password</a>
            </div>
        </form>

{% endblock %}