{% extends "base.html" %}
{% block content %}
	<div id="articles-table">
		<h3 id="article-title">{{category_type}}</h3>
		{% if articles_length > 0 %}
			<table class='table borderless'>
				{% set counter = 1 %}
				{% for article in articles %}
						<td id="table-index">{{ counter + (page-1) * per_page }}</td>
						<td>
							<a href="{{article._id}}">
								{{ article.description }}
							</a>
							&nbsp;
							<br>
							<span id="timeago">
								{{  article.createdAt|datetimeformat }}
							</span>
							&nbsp;
							{% set category_value = article.category|find_article_category %} 
							<span>
								<a id="category-type" href="{{ url_for('category_selection', category_type=category_value[0][1]) }}">{{ category_value[0][1] }}</a>
							</span>
							<br>
							<a href="#"><span id="user-like-recommend" class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>
						</td>
					</tr>
					{% set counter = counter + 1 %}
				{% endfor %}
			</table>	
		{% else %}
			<span id="category-count-zero">
				<h4>No articles found in this category!</h4>
				<h5><a href="{{url_for('submit_article')}}">Click here</a>, incase you have something interesting to share!</h5>
			</span>
		{% endif %}
	</div>
	<div class="col-md-8 col-md-offset-2" id="pagination-tab">
		{{ pagination.links }}	
	</div>
{% endblock %}